#WS_BASE_URL=http://192.168.0.13:8080
WS_BASE_URL=https://miseguro.agsegurossv.com
DB_NAME=dsg_task_management_db
URL_INTERNET_CONNECTIVITY_TEST=https://clients3.google.com/generate_204
ENABLE_DEV_SYNC_PANEL=true